<!doctype html>
<html lang="es"><head><meta charset="utf-8"><title>Post 1080x1350</title>
<link rel="stylesheet" href="tokens.css"><link rel="stylesheet" href="social.css"></head>
<body>
  <main class="canvas post">
    <img class="logo" src="logo.svg" alt="{{nombre}}">
    <h1 class="headline">{{eslogan}}</h1>
    <div class="rule"></div>
    <p class="sub">Texto de apoyo editable: una idea, una frase.</p>
    <p class="meta">{{nombre}}</p>
    <img class="big-symbol" src="simbolo.svg" alt="">
  </main>
  <script src="social.js"></script>
</body></html>
